 <div class="ui container segment">
    <%= form_with model: @user do |form| %>
        <ul>
            <td> First Name: <%= form.text_field :first_name %> </td>
            <td> Last Name: <%= form.text_field :last_name %> </td>
            <td> Age: <%= form.number_field :age %> </td>
            <td> <%= form.submit %> </td>
        </ul>
    <% end %>
</div>