<div id="crud">
</div>

<div id="profile-container">
    <div id="card_profile">
        <div class="ui segment purple">
            <h2 class="ui right floated header"></h2>
                <div class="ui circular image">
                    <img class="icon_image" src="https://www.shareicon.net/data/512x512/2016/09/15/829472_man_512x512.png">
                </div>
                    <div class="ui clearing divider"></div>
                            <p>
                                <strong>Username:</strong>
                                <%= @user.username %>
                            </p>

                            <p>
                                <strong>First name:</strong>
                                <%= @user.first_name %>
                            </p>
                                    
                            <p>
                                <strong>Last name:</strong>
                                <%= @user.last_name %>
                            </p>

                            <p>
                                <strong>Email:</strong>
                                <%= @user.email %>
                            </p>

                            <p>
                                <strong>Birthday</strong>
                                <%= @user.birthdate %>
                            </p>
        <% if current_user == @user || current_user.is_admin == true %>
            <%= link_to 'Edit', edit_user_path(@user), :class=> "ui tiny purple button" %> 
            <%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class=> "ui tiny purple button" %>
        <% end %>
        </div>
    </div>

    <div class="comments">
        <div class="ui message purple", style="overflow:auto; height:570px";>    
            <div class="header"><h1>Comments</h1></div>
            <% @user.comments.each do |comment| %>
            <div class="ui card">
                <div class="content">
                    <label><a class="ui teal right ribbon label">Squawk</a></label>
                    <div class="header head"><%=comment.comment_type%></div>
                    <div class="description"><p><%=comment.body%></p></div>
                </div>
                <div class="extra content">
                    <span class="left floated like">
                </div>
            </div>
            <% end %>
        </div>
</div>