<div id="card_profile">
    <div class="ui link cards">
        <div class="card">
            <div class="image">
                <img src="/images/avatar2/large/matthew.png">
            </div>
        <thead>
            <%= form_for @user do |form| %>
                <td> <%= form.text_field :username %> </td>
                <td> <%= form.text_field :first_name %> </td>
                <td> <%= form.text_field :last_name %> </td>
                <td> <%= form.date_field :birthdate %> </td>
            <%end%>
        </thead>
            </div>
        </div>
    </div>
</div>