<<<<<<< HEAD
=======



>>>>>>> 1732e40b3e5c64388369a20f2a7a0600f9fb89f8
<div id="wrap">
    <div class="ui raised segment row" style="width:90%">
    <div class="ui top attached purple label">
        <h1 style="padding-top:1%; padding-bottom:1px" id="title"></h1>
      

    </div>
    
        <div class="columns">
        
            <div id="map" style="height:400px; width:100%">Here should be the map</div>

        </div>

        <div class="columns" >
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">All Squawks</a>
            <a class="item" data-tab="second"> New Squawks</a>
            <a class="item" data-tab="third">Violations</a>
        </div>

        <div class="ui bottom attached tab active segment" data-tab="first">
<<<<<<< HEAD
        <div class="ui card">
      <div class="content">
          <label><a class="ui teal right ribbon label">Squawk</a></label>
      <div class="header">This is a title</div>
          <div class="description">
              <p>  2L, Apartment, Entire apartment
                          Status:
                          Closed
                          Code:
                          No heat, Entire building, Heat/hot water
                          Description:
                          The department of housing preservation and development responded to a complaint of no heat or hot water and was advised by a tenant in the building that heat and hot water had been restored. If the condition still exists, please file a new complaint.
                          2L, Apartment, Entire apartment
                          Status:
                          Closed
                          Code: file a new complaint   
=======


        <% @comments.each do |comment| %>
        <div class="ui card">
      <div class="content">
          <label><a class="ui teal right ribbon label">Squawk</a></label>
      <div class="header"><%=comment.comment_type%></div>
          <div class="description">
              <p>  <%=comment.body%> 
>>>>>>> 1732e40b3e5c64388369a20f2a7a0600f9fb89f8
              </p>
          </div>
      </div>
      <div class="extra content">
          <span class="left floated like">
              <i class="like icon"></i>
              Like
          </span>
      </div>
  </div>
<<<<<<< HEAD
           
=======
           <%end%>
>>>>>>> 1732e40b3e5c64388369a20f2a7a0600f9fb89f8
       



<<<<<<< HEAD
  <div class="ui card">
      <div class="content">
          <label><a class="ui teal right ribbon label">Squawk</a></label>
      <div class="header">This is a title</div>
          <div class="description">
              <p>  2L, Apartment, Entire apartment
                          Status:
                          Closed
                          Code:
                          No heat, Entire building, Heat/hot water
                          Description:
                          The department of housing preservation and development responded to a complaint of no heat or hot water and was advised by a tenant in the building that heat and hot water had been restored. If the condition still exists, please file a new complaint.
                          2L, Apartment, Entire apartment
                          Status:
                          Closed
                          Code: file a new complaint   
              </p>
          </div>
      </div>
      <div class="extra content">
          <span class="left floated like">
              <i class="like icon"></i>
              Like
          </span>
      </div>
  </div>

      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
        
      
      <div class="ui card">
      <div class="content">
          <label><a class="ui tag label">New Squawk</a></label>
          <form class="ui form">
              <div><h1>Add a Squawk</h1></div><br>
              <div class="field">
                  <label>Title</label>
                  <input type="text" name="title" placeholder="Title">
              </div>
              <div class="field">
                  <label>Text</label>
                  <input type="text" name="text" placeholder="Content...">
              </div>

              <div class="field">
                 <label>Building number</label>
                 <input id="bin" type="text" name="text" placeholder="" readonly>
              </div>


=======
</div>



      <div class="ui bottom attached tab segment" data-tab="second">  
      <div class="ui card">
      <div class="content">
          <label><a class="ui tag label">New Squawk</a></label>



          <%

          <%= form_with model: Comment.new do |form| %>
          <div class="ui form">
              <div class="field">
                  <label>User ID</label>
                  <%= form.number_field :user_id, placeholder: "User ID"%>
              </div>

              <div class="field">
                  <label>Building ID</label>
                  <%= form.number_field :building_id, placeholder: "Building ID", :id => 'bin'%>
                </div>


                <div class="field">
                <label>Type</label>
                <%= form.text_field :comment_type, placeholder: "Comment type"%>
                </div>

                <div class="field">
                <label>Rating</label>
                <%= form.number_field :rating, placeholder: "Rating"%>
                </div>

                <div class="field">
                <label>Body</label>
                <%= form.text_field :body, placeholder: "Content..."%>
                </div>
>>>>>>> 1732e40b3e5c64388369a20f2a7a0600f9fb89f8

              <div class="field">
                  <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>I agree I am responsible for my squawks</label>
                  </div>
              </div>    
<<<<<<< HEAD
              <button class="ui button" type="submit">Submit</button>
          </form>  
=======
              <%= form.submit  "Submit" %>
              <% end %>


          </div>  
>>>>>>> 1732e40b3e5c64388369a20f2a7a0600f9fb89f8
      </div>  
    </div>
    </div>

<<<<<<< HEAD
=======

   



>>>>>>> 1732e40b3e5c64388369a20f2a7a0600f9fb89f8
      <div class="ui bottom attached tab segment" data-tab="third">
        Violations
      </div>

        </div> 
    </div>
</div>




