<div id="wrap">
    <div class="ui raised segment row" style="width:90%">
    <div class="ui top attached purple label">
        <h1 style="padding-top:1%; padding-bottom:1px" id="title"></h1>
    </div>
    
        <div class="columns">
            <div id="map" style="height:400px; width:100%">Here should be the map</div>
        </div>

        <div class="columns" >
        <div class="ui top attached tabular menu">
            <a class="item active" id="tab1" data-tab="first">All Squawks</a>
            <a class="item" id="tab2" data-tab="second"> New Squawks</a>
            <a class="item" data-tab="third">Violations</a>
            <a class="item" data-tab="fourth">Info</a>
        </div>

        <div class="ui bottom attached tab active segment" data-tab="first">
        <%= form_tag("/buildings/show",  :id => 'formname', method:"get", remote:true )  do %>
            <%= text_field_tag :bin1, "", {:onchange => "this.form.submit()", :style=>"visibility:hidden"}%>
           <%=submit_tag "Reveal", :class=>"ui button", :id=>"reveal"%>
              <%end%> 
            
              <div id ="showMe" class="ui card" style="display:none">
              <div class="content">
                  <label><a class="ui teal right ribbon label">Squawk</a></label>
              <div id="head" class="header"></div>
                  <div class="description">
                      <p id="bod"></p>
                  </div>
              </div>
              <div class="extra content">
                  <span class="left floated like">
                      <i class="like icon"></i>
                      Like
                  </span>
              </div>
            </div>
            
        <div class="cont">

       </div>
</div>


      <div class="ui bottom attached tab segment" data-tab="second">  
      <div class="ui card">
      <div id="formNew" class="content">
          <label><a class="ui tag label">New Squawk</a></label>        

          <%= form_with model: Comment.new, remote:true do |form| %>
        
          <div class="ui form">
              <div class="field">
                  <label>User ID</label>
                  <%= form.number_field :user_id, placeholder: "User ID"%>
              </div>

              <div class="field">
                  <label>Building ID</label>
                  <%= form.number_field :building_id, placeholder: "Building ID", :id => 'bin'%>
                </div>


                <div class="field">
                <label>Type</label>
                <%= form.text_field :comment_type, placeholder: "Comment type"%>
                </div>

                <div class="field">
                <label>Rating</label>
                <%= form.number_field :rating, placeholder: "Rating"%>
                </div>

                <div class="field">
                <label>Body</label>
                <%= form.text_field :body, placeholder: "Content..."%>
                </div>

              <div class="field">
                  <div id="squawks2" class="ui checkbox">
                      <input type="checkbox" tabindex="0" class="hidden">
                      <label>I agree I am responsible for my squawks</label>
                  </div>
              </div>    
              <%= form.submit "Submit", :id=>'squawks', :class=>"ui button"%>
              <% end %>


          </div>  
      </div>  
    </div>
    </div>

      <div class="ui bottom attached tab segment" data-tab="third">
      <h1>Violations</h1>
            <div id="vcontainer"></div>
      </div>



      <div class="ui bottom attached tab segment" data-tab="fourth">  
      <h1>Info</h1>
     <div class="info-label"> <h5 id="violation">Violation Number</h5></div>

      <div class="info-label rodent-div">
      <div class="status-div"><h5 id="rodent">Rodent Status</h5></div>
      <div id ="rodent-text"></div>
      </div>

     <div class="info-label" > <h5 id="num-comments">Number of Comments</h5></div>
      </div>


        </div> 
    </div>
</div>



<script>
$('.ui.checkbox').checkbox();
document.getElementById("squawks").addEventListener("click", function(){
$('.ui.menu').find('#tab2').tab('change tab', 'first');
$("#showMe").css("display", "block");
document.getElementById("head").innerText = $("#comment_comment_type").val();
document.getElementById("bod").innerText = $("#comment_body").val();
$(".cont").empty();

});

$("#reveal").click(function(){
            $("#reveal").fadeOut();
});

var geoLocation1 = localStorage.getItem("geoLocation2");
var geoLocation2 = localStorage.getItem("geoLocation1");
console.log(geoLocation1, geoLocation2)
</script>


